<html>

<body>
  <h1>Zanzaneet News</h1>

  <p>Some things have happened but we havn't filled out this template yet so we can't tell you what they are...</p>

  <p>If you no longer want to receive emails from us then please click the link below to unsubscribe.</p>
  <p><%= link_to 'Unsubscribe', subscription_url(@subscription) %></p>
</body>
</html>
