<html>

<body>
  <h1>Welcome to Zanzaneet</h1>

  <p>
    Thankyou for subscribing to <a href='http://www.zanzaneet.com'>zanzaneet.com</a> and thanks for signing up for our monthly newsletter.
    We really hope you enjoy the recipes and tips that you find there.
  </p>
  <p>
    We promise, we won't spam you but keep you you up-to-date with our new recipes and the latest happenings at <a href='http://www.zanzaneet.com'>zanzaneet.com</a>.
    So get those tastebuds tingling with our tasty recipe collection at Zanzaneet.com.
  </p>

  <h2>How to unsubscribe</h2>

  <p>If you no longer want to receive emails from us then please click the link below to unsubscribe.</p>
  <p><%= link_to 'Unsubscribe', subscription_url(@subscription) %></p>
</body>
</html>
