<h1>My recipes</h1>
<p>Aren't they lovely?</p>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.title, recipe_path(recipe) %>
    </li>
  <% end %>
</ul>

<%= link_to 'New recipe', new_recipe_path %>
