<section id="main">
<ul class='recipeList'>
  <% @recipes.each do |recipe| %>
    <li>
      <%= render :partial => 'recipe', :locals => { :recipe => recipe } %>
    </li>
  <% end %>
</ul>

<%= link_to 'New recipe', new_recipe_path %>
</section>
