<h2>
  <%= @recipe.title %>
</h2>

<div>Rieethaa is going to fill the page in tomorrow</div>

<%= link_to 'Edit this recipe', edit_recipe_path(@recipe) %>
<%= link_to 'Delete this recipe', recipe_path(@recipe), :method => :delete, :confirm => 'Are you sure?' %>
