<section id="main" class='container blogPostContainer'>
  <h2>Edit Blog Post</h2>
  <div class='contentMain'>
    <%= render :partial => 'form' %>
  </div>
  <div class='contentSidePanel'>
    <%= render :partial => 'edit_photos' %>
  </div>
</section>

