<div id='carousel'>
  <!-- TODO: We will reuse this to display list of recipes -->
  <div class='carouselItem' data-id='1' data-background='market.jpg' data-content=''>
  </div>
  <div class='carouselItemFixed' data-content=''>
    <div class='carouselTitle'>Home</div>
    <div class='carouselSubtitle'>Where Indian cooking comes home...</div>
    <div class='container'>Welcome to the Kitchen Sanskriti</div>
  </div>
</div>
