<div id='carousel'>
  <div class='carouselItem' data-id='1' data-background='market.jpg' data-content=''>
    <div class='carouselTitle'>Home</div>
    <div class='carouselSubtitle'>Where Indian cooking comes home...</div>
    <div class='container'>Welcome to the Kitchen Sanskriti</div>
  </div>
  <div class='carouselItem' data-id='2' data-background='chillies.jpg' data-content='recipes'>
    <div class='carouselTitle'>Recipes</div>
    <div class='carouselSubtitle'>Tasty treats for all the family...</div>
    <div class='container'></div>
  </div>
  <div class='carouselItem' data-id='3' data-background='market.jpg' data-content='classes'>
    <div class='carouselTitle'>Classes</div>
    <div class='carouselSubtitle'>Come learn from Indian cooking...</div>
    <div class='container'></div>
  </div>
</div>
