<div id='carousel'>
  <!-- TODO: We will reuse this to display list of recipes -->
  <% @recipes.each do |recipe| %>
    <div class='carouselItem' data-id='1'>
      <div class='carouselContent'>
        <div class='carouselRecipeTitle'><%= recipe.title %></div>
        <div class='carouselRecipeDescription'><%= recipe.description %></div>
      </div>
    </div>
  <% end %>
</div>



