<div id='carousel'>
  <% @recipes.each do |recipe| %>
    <div class='carouselItem' data-id='<%= recipe.id %>'>
      <%= image_tag recipe.picture.url(:wide)  %>
      <div class='carouselTitle'><%= recipe.title %></div>
      <div class='carouselSubtitle'><%= recipe.description %></div>
    </div>
  <% end %>
</div>
