<header id="banner">
  <div>
    <h1 class='siteTitle'>Kitchen Sanskriti</h1>
    <nav id="menu">
      <ul>
        <li><%= link_to 'Home', root_path, :'data-section' => :home %></li>
        <li><%= link_to 'Recipes', recipes_path, :'data-section' => :recipes %></li>
        <li><%= link_to 'Classes', classes_path, :'data-section' => :classes %></li>
      </ul>
    </nav>
  </div>
</header>
