<div id='parallax'>
  <div id='homePanel' class='parallaxPanel' data-content='' data-background='market.jpg'>
    <div class='container'>
      <div class='parallaxTitle'>Home</div>
      <div class='parallaxSubtitle'>Where Indian cooking comes home...</div>
      <div>Welcome to the Kitchen Sanskriti</div>
    </div>
  </div>
  <div id='recipesPanel' class='parallaxPanel' data-content='recipes' data-background='chillies.jpg'>
    <div class='container'>
      <div class='parallaxTitle'>Recipes</div>
      <div class='parallaxSubtitle'>Tasty treats for all the family...</div>
      <%= render :partial => 'shared/carousel' %>
    </div>
  </div>
  <div id='classesPanel' class='parallaxPanel' data-content='classes' data-background='market.jpg'>
    <div class='container'>
      <div class='parallaxTitle'>Classes</div>
      <div class='parallaxSubtitle'>Come learn from Indian cooking...</div>
    </div>
  </div>
  <div id='contactPanel' class='parallaxPanel' data-content='contact' data-background='contacts.png'>
    <div class='container'>
      <div class='parallaxTitle'>Contact</div>
      <div class='parallaxSubtitle'>Don't be shy tweet, email or call us - we love to talk about tasty grub</div>
      <div id='social'>
        <article id='twitter'>
          <%= link_to 'Follow us on Twitter', 'http://twitter.com/thechimni' %>
          <%= image_tag('twitter_logo.png', :size => '100x100', :alt => 'Recent tweets') %>
          <ul>
            <% @tweets.each do |tweet| %>
            <li><%= tweet %></li>
            <% end %>
          </ul>
        </article>
        <article id='email'>Email us</article>
      </div>
    </div>
  </div>
</div>

