$white: rgb(255,255,255);
$lightblue: rgb(100,133,255);
$blue: rgb(60,100,200);
$lightgrey: rgb(244,244,244);
$grey: rgb(128,128,128);
$darkgrey: rgb(64,64,64);

$base_font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;


h1 {
	color: #f00;
}

#container {
	width: 960px;
	margin: 0 auto;
	background: #FFF;
	height: 100%;
}

body {
	margin: 0;
	background: #CCC;
	font: $base_font;
}

body, html {
	height: 100%;
}

#banner {
	font: 200% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 5px;
	background-color: $lightblue;
	color: $white;
}

#menu {
	display: block;
	height: 35px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:	center;
}

#menu li {
	float: left;
}

#menu li > a {
	display: block;
	width: 100px;
	text-decoration: none;
	color: $lightblue;
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 10px 0 0;
	height: 25px;
}

#menu li > a:hover {
	color: $blue;
}

section {
	display: block;
}

label {
	display: block;
	margin: 10px 0 4px;
}

input, textarea {
	font: $base_font;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	height: 100px;
	width: 800px;
}

.form-actions {
	padding: 17px 20px 18px;
	margin-top: 18px;
	margin-bottom: 18px;
	background-color: $lightgrey;
	border-top: 1px solid #DDD;
}

#carousel {
	// Need to have relative position here as all the other carousel items inside this container will be relative to this?
	position: relative;
}

.carouselItem {
	display: none;
}

@mixin carouselText {
  position: absolute;
  right: 0px;
  color: $white;
  font-style: italic;
  background-color: $darkgrey;
  opacity: 0.7;
  padding: 5px;
}

.carouselTitle {
  @include carouselText;
  top: 400px;
  font-size: 160%;
}

.carouselSubtitle {
  @include carouselText;
  font-size: 100%;
  top: 450px;
}

.carouselButton {
	top: 40%;
	position: absolute;
	width: 50px;
	height: 55px;
	background-color: $grey;
	font-size: 150%;
	color: $white;
	line-height: 50px;
	text-align: center;
	opacity: 0.7;
	cursor: default;
}

.carouselButton:hover {
	background-color: $blue;
}

.left {
	left: 0;
}

.right {
	right: 0;
}


