$white: rgb(255,255,255);
$lightblue: rgb(100,133,255);
$blue: rgb(60,100,200);
$lightgrey: rgb(244,244,244);
$grey: rgb(128,128,128);
$darkgrey: rgb(64,64,64);
$darkblue: rgb(0, 51, 153) 9;
$nicecolour: rgb(0, 68, 204);
$buttonbackground: #006DCC;


$base_font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;


h1 {
	color: #f00;
}

#container {
	width: 960px;
	margin: 0 auto;
	background: #FFF;
	height: 100%;
}

body {
	margin: 0;
	background: $white;
	font: $base_font;
}

body, html {
	height: 100%;
}

#banner {
	font: 200% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 5px;
	background-color: $lightblue;
	color: $white;
}

#menu {
	display: block;
	height: 35px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:	center;
}

#menu li {
	float: left;
}

#menu li > a {
	display: block;
	width: 100px;
	text-decoration: none;
	color: $lightblue;
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 10px 0 0;
	height: 25px;
}

#menu li > a:hover {
	color: $blue;
}

section {
	display: block;
}

label {
	display: block;
	margin: 10px 0 4px;
}

input, textarea {
	font: $base_font;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	height: 100px;
	width: 800px;
}

.formActions {
	padding: 17px 20px 18px 0px;
	margin-top: 18px;
	margin-bottom: 18px;
	background-color: $lightgrey;
	border-top: 1px solid #DDD;
}

.formButton {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  // font-size: 13px;
  font-size: 110%;
  color: $white;
  text-decoration: none;

  border: 1px solid rgb(204, 204, 204);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;

  // box-shadow: 1px 3px 5px #555;
  // -webkit-box-shadow: 1px 3px 5px #555;
  // -moz-box-shadow: 1px 3px 5px #555;

  background-color: $buttonbackground;
  background-color:#0088cc;
  background-repeat: repeat-x;

  background-image: -moz-linear-gradient(top , #0088cc, #0044cc 33px);
  background-image: -webkit-linear-gradient(top , #0088cc, #0044cc 33px);
  background-image: -o-linear-gradient(top , #0088cc, #0044cc 33px);
  background-image: -ms-linear-gradient(top , #0088cc, #0044cc 33px);
  background-image: linear-gradient(top , #0088cc, #0044cc 33px)
}

.formButton:hover {
  background-color:#0044cc;
  background-image: -moz-linear-gradient(top , #0088cc, #0044cc 33px);
  background-image: -webkit-linear-gradient(top , #0088cc, #0044cc 33px);
  background-image: -o-linear-gradient(top , #0088cc, #0044cc 33px);
  background-image: -ms-linear-gradient(top , #0088cc, #0044cc 33px);
  background-image: linear-gradient(top , #0088cc, #0044cc 33px);

  background-position: 0 -15px;
  z-index: 2;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
};

#carousel {
	/*Need to have relative position here as all the other carousel items inside this container will be relative to this?*/
	position: relative;
  /*The children of this container are all absolutely positioned and therefore cannot determine its height */
  /*so we need to explicitly size the height of the carousel */
  height: 600px;
  overflow: hidden;
}

.carouselItem {
	display: none;
  position: absolute;
  height: 600px;
}

@mixin carouselText {
  position: absolute;
  right: 0px;
  color: $white;
  font-style: italic;
  background-color: $darkgrey;
  opacity: 0.7;
  padding: 5px;
}

.carouselTitle {
  @include carouselText;
  top: 400px;
  font-size: 160%;
}

.carouselSubtitle {
  @include carouselText;
  font-size: 100%;
  top: 450px;
}

.carouselButton {
	top: 40%;
	position: absolute;
	width: 50px;
	height: 55px;
	background-color: $grey;
	font-size: 150%;
	color: $white;
	line-height: 50px;
	text-align: center;
	opacity: 0.7;
	cursor: default;
}

.carouselButton:hover {
	background-color: $blue;
}

.left {
	left: 0;
}

.right {
	right: 0;
}


