$white: rgb(255,255,255);
$lightblue: rgb(100,133,255);
$blue: rgb(60,100,200);
$lightgrey: rgb(244,244,244);


$base_font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;


h1 {
	color: #f00;
}

#container {
	width: 960px;
	margin: 0 auto;
	background: #FFF;
	height: 100%;
}

body {
	margin: 0;
	background: #CCC;
	font: $base_font;
}

body, html {
	height: 100%;
}

#banner {
	font: 200% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 5px;
	background-color: $lightblue;
	color: $white;
}

#menu {
	display: block;
	height: 35px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align:	center;
}

#menu li {
	float: left;
}

#menu li > a {
	display: block;
	width: 100px;
	text-decoration: none;
	color: $lightblue;
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 10px 0 0;
	height: 25px;
}

#menu li > a:hover {
	color: $blue;
}

section {
	display: block;
	padding: 5px;
}

label {
	display: block;
	margin: 10px 0 4px;
}

input, textarea {
	font: $base_font;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	height: 100px;
	width: 800px;
}

.form-actions {
	padding: 17px 20px 18px;
	margin-top: 18px;
	margin-bottom: 18px;
	background-color: $lightgrey;
	border-top: 1px solid #DDD;
}