// Free font downloaded from www.fonts101.com
@font-face {
    font-family: 'SamarkanNormal';
    src: url('samarn__-webfont.eot');
    src: url('samarn__-webfont.eot?#iefix') format('embedded-opentype'),
         url('samarn__-webfont.woff') format('woff'),
         url('samarn__-webfont.ttf') format('truetype'),
         url('samarn__-webfont.svg#SamarkanNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}